# Core Data Science
numpy<1.27
pandas
scikit-learn
lightgbm
joblib
matplotlib
plotly
shap
numba==0.59.1
llvmlite==0.42.0

# API & Web
fastapi
uvicorn
pydantic
requests
python-dotenv
streamlit

# Monitoring
evidently

# Optimisation & Inférence
onnxruntime
skl2onnx
onnxmltools
