name: Auto Merge

on:
  check_suite:
    types:
      - completed

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: github.event.check_suite.conclusion == 'success' && github.event.check_suite.head_branch != 'main'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Auto Merge PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge --auto --merge ${{ github.event.check_suite.head_branch }} || echo "No PR or not ready to merge"
