name: Credit-Scoring-CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "test" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    defaults:
      run:
        shell: bash -el {0}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        environment-file: environment.yml
        activate-environment: credit-scoring-app
        auto-activate-base: false

    - name: Verify Environment
      run: |
        conda info
        conda list

    - name: Lint with Ruff
      run: |
        ruff check src tests

    - name: Check Formatting with Black
      run: |
        black --check src tests

    - name: Run Tests with Coverage
      run: |
        pytest --cov=src --cov-report=html --cov-fail-under=70

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: htmlcov
