name: Deploy to Hugging Face Spaces

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          # Installation de Git LFS
          git lfs install
          # On crée un dossier propre avec seulement ce qui est nécessaire
          mkdir deploy_dir
          rsync -av --exclude='.git' --exclude='.venv' --exclude='data' --exclude='__pycache__' . deploy_dir/
          cd deploy_dir
          git init
          # Configuration LFS dans le nouveau repo
          git lfs install
          git lfs track "*.joblib"
          git add .gitattributes
          git add .
          git commit -m "Deploy: ${{ github.sha }} with LFS"
          git remote add space https://damienguesdon:$HF_TOKEN@huggingface.co/spaces/damienguesdon/credit-scoring-app
          git push --force space master:main
